.App {
  text-align: center;

  background-color: #bce3ed44;
  border-radius: 40px;

  background-color: #31343544;
  border-radius: 15px;

}
.text-pattern{
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #115aeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #056d8a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  overflow: auto;

  font-size: 180px;
  font-family: "Comfortaa", sans-serif;
  color: #3ded97;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 67px; /* Adjust the font size for smaller screens */
  }
}

.share{
  position: relative;
  left : 20px;
  top: 50px;
  background: #c7cbcdd4;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}
.share:hover {
  opacity: 0.8;
}
/* .h3{
  font-size: 100px;
} */


/* CSS */
.share {
  background: #3ded97;
  border: 2px solid #466d1d;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.share:hover,
.share:active {
  background-color: initial;
  background-position: 0 0;
  color: #a1cbd8;
}

.share:active {
  opacity: .5;
}

.share1 {
  
  background: #3ded97;
  border: 2px solid #466d1d;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.share1:hover,
.share1:active {
  background-color: initial;
  background-position: 0 0;
  color: #a1cbd8;
}

.share1:active {
  opacity: .5;
}
